<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carros Disponíveis para Aluguel</title>
</head>
<body>
    <h1>Carros Disponíveis para Aluguel</h1>
    <table>
        <thead>
            <tr>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="carro : ${carrosDisponiveis}">
                <td th:text="${carro.placa}"></td>
                <td th:text="${carro.modelo}"></td>
                <td th:text="${carro.ano}"></td>
                <td th:text="${carro.tipo}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
